{% extends "base.html" %}

{% block title %}投稿フォーム | {{ block.super }}{% endblock %}
{% block description %}投稿フォーム{% endblock %}
        <table>
            <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_table }}
                <tr>
                    <td>
                        <input type="submit" value="作成">
                    </td>
                </tr>
            </form>
        </table>
        {% endblock %}