{% extends "base.html" %}
{% block title %}ホーム | {{ block.super }}{% endblock %}
{% block description %}ホーム{% endblock %}

{% block content %}
        <h1>hello</h1>
        {% load cloudinary %}
        <table>
                {% for post in posts %}
            <tr>
                <td>
                        {% cloudinary post.image.url width=100 height=100 %}
                </td>
            </tr>
            {% endfor %}
        </table>
        
        
        
{% endblock %}