{% load static %}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Hello, world!{% endblock %}</title>
    <meta name="description" content="{% block description %}{% endblock %}">
    <link rel="icon" href="{% static 'img/favicon.ico' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'base.css' %}">

<script>
var pc_width = 1080;
var device = (screen.width < 600 ? 'sp' : 'pc');
var view_mode = (device == 'pc' || document.cookie.indexOf('view_mode=pc') != -1 ? 'pc' : 'sp');
if (device == 'sp' && view_mode == 'pc') {
    document.getElementsByName('viewport')[0].setAttribute('content', 'width=' + pc_width + ',initial-scale=1');
}

$(function () {
    if (device == 'sp') {
        if (view_mode == 'pc') {
            $('.sp-mode').on('click', function () {
                var date = new Date();
                date.setTime(0);
                document.cookie = 'view_mode=;expires='+date.toGMTString();
                location.reload(false);
            }).show();
        } else {
            $('.pc-mode').on('click', function () {
                document.cookie = 'view_mode=pc';
                location.reload(false);
            }).show();
        }
    }
});
</script>



    <!-- Bootstrap CSS
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
-->
        <style>
                * {padding: 0px; margin: 0px;}
                .tab_wrap{width:500px; margin:80px auto;}
                input[type="radio"]{display:none;}
                .tab_area{font-size:0; margin:0 10px;}
                .tab_area label{width:150px; margin:0 5px; display:inline-block; padding:12px 0; color:#999; background:#ddd; text-align:center; font-size:13px; cursor:pointer; transition:ease 0.2s opacity;}
                .tab_area label:hover{opacity:0.5;}
                .panel_area{background:#fff;}
                .tab_panel{width:100%; padding:80px 0; display:none;}
                .tab_panel p{font-size:14px; letter-spacing:1px; text-align:center;}
                         
                #tab1:checked ~ .tab_area .tab1_label{background:#fff; color:#000;}
                #tab1:checked ~ .panel_area #panel1{display:block;}
                #tab2:checked ~ .tab_area .tab2_label{background:#fff; color:#000;}
                #tab2:checked ~ .panel_area #panel2{display:block;}
                #tab3:checked ~ .tab_area .tab3_label{background:#fff; color:#000;}
                #tab3:checked ~ .panel_area #panel3{display:block;}

                .resizeimage img { max-width: 100%; height: auto; }

              
                #header {z-index: 9999; position: fixed; width: 100%; }
                nav{text-align: center; background-color: #b7282e; min-height: 60px; padding-top: 20px;}
                nav ul{margin: 0 ; padding: 0 ;}
                nav ul li{list-style: none; display: inline-block; width: 18%; min-width: 90px;}
                nav ul li a{text-decoration: none; color: #fff;}
                nav ul li.current a{color: #b7282e;}
                nav ul li a:hover{color: #E7DA66;}

               
                .menu {position: relative; width: 100%; height: 50px; max-width: 1000px; margin-top: 0 auto;}
                .menu > li {height: 50px;}
                ul.menu__second-level {visibility: hidden; opacity: 0; z-index: 1;}
                ul.menu__third-level {visibility: hidden; opacity: 0;}
                ul.menu__fourth-level {visibility: hidden; opacity: 0;}
                .menu > li:hover {-webkit-transition: all .5s; transition: all .5s; }
                .menu__second-level li {border-bottom: 1px solid #333;}
                .menu__third-level li {border-bottom: 1px solid #333;}
                /* 下矢印 */
                .init-bottom:after {content: ''; display: inline-block; width: 6px; height: 6px; margin: 0 0 0 15px; border-right: 1px solid #fff; border-bottom: 1px solid #fff; -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg);}
                /* floatクリア */
                .menu:before,
                .menu:after {content: " "; display: table;}
                .menu:after {clear: both;}
                .menu {*zoom: 1;}
                .menu > li.menu__single {position: relative;}
                li.menu__single ul.menu__second-level {position: absolute; top: 20px; width: 150%; background: #F33135; -webkit-transition: all .2s ease; transition: all .2s ease;}
                li.menu__single:hover ul.menu__second-level {top: 50px; visibility: visible; opacity: 1;}

                #ww {margin-top: 100px; margin-left: 20px; margin-bottom: 20px;}
                h1 {display: inline-block; font-weight: normal; position: relative; color: #333; text-shadow: 0 0 2px white;}
                h1:before {content: ""; position: absolute; background: #E7DA66; width: 50px; height: 50px; border-radius: 50%; top: 50%; left: -15px; -webkit-transform: translateY(-50%); transform: translateY(-50%); z-index: -1;}

                .xxx{-webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;}
                .xxx:focus {border:solid 1px #E7DA66;}
                
                button {display: inline-block; padding: 0.3em 1em; text-decoration: none; background: #E7DA66; color: #333; border: solid 2px #E7DA66; border-radius: 3px; transition: .4s; }
                #btn {display: inline-block; padding: 0.3em 1em; text-decoration: none; background: #E7DA66; color: #333; border: solid 2px #E7DA66; border-radius: 3px; transition: .4s; }
                .zzz{text-decoration: none;}

                .aaa{text-align: center;  min-height: 20px; background-color: rgb(0, 0, 0, 0); color: #F33135; padding-left: 150px; padding-right: 150px;}
                .ddd{color: #333;}
        </style>  

</head>

<body>
    {% include "base/navbar.html" %}
    {% block content %}
    {% endblock %}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>