<div id="header">
    <header class="site-header">
<nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
    


    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">

                <li><a class="navbar-brand" href="/">top</a ></li>
                {% if user.is_authenticated %}
                <li class="nav-item dropdown">

                <ul class="menu">
                    <li class="menu__single">
                        <a href="#" class="init-bottom">MyPage</a>
                        <ul class="menu__second-level">
                            <li><a class="dropdown-item" href="{% url 'accounts:user_detail' user.pk %}">Plofile</a></li>
                        <li><a class="dropdown-item" href="{% url 'reservation:my_reserve' %}">My Rservation List</a></li>
                        <li><a class="dropdown-item" href="{% url 'washoku:restaurant_list' %}">My Restaurant List</a></li>
                        <div class="dropdown-divider"></div>
                        <li><a class="dropdown-item" href="{% url 'accounts:user_update' user.pk %}">Update user information</a></li>
                        </ul>
                    </li>
                    <!-- 他グローバルナビメニュー省略 -->
                </ul>
                </li>

                <li>
                    <a class="nav-item nav-link" href="{% url 'washoku:create_restaurant' %}">店舗作成</a>    
                </li>
                <li>
                    <a class="nav-item nav-link" href="{% url 'accounts:logout' %}">Logout</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-item nav-link" href="{% url 'accounts:login' %}">
                        Login
                    </a>
                </li>
                <li>
                    <a class="nav-item nav-link" href="{% url 'accounts:signup' %}">Signup</a>
                </li>
                {% endif %}
                <li>{% include "washoku/snippets/search_form.html" %}</li>
            </ul>
        </div>
    
    </div>
</nav>

</header>
</div>