<div>
  <nav aria-label="Page navigation example" class="aaa">
      <ul class="pagination">
          {% if page_obj.has_previous %}
              <li class="page-item><a class="page-link text-primary d-inline-block" href="?page={{ page_obj.previous_page_number }}">前</a></li>
          {% else %}
              <li class="disabled page-item"><div class="page-link text-secondary d-inline-block ddd" href="#">前</div></li>
          {% endif %}

          {% for link_page in page_obj.paginator.page_range %}
              {% if link_page %}
                  {% if link_page == page_obj.number %}
                      <li class="disabled page-item"><div class="page-link text-secondary d-inline-block disabled" href="#">{{ link_page }}</div></li>
                  {% else %}
                      <li class="page-item"><a class="page-link text-primary d-inline-block ddd" href="?page={{ link_page }}">{{ link_page }}</a></li>
                  {% endif %}
              {% else %}
                  <li class="disabled page-item"><a class="page-link text-secondary d-inline-block text-muted ddd" href="#">・・・</a></li>
              {% endif %}
          {% endfor %}

          {% if page_obj.has_next %}
              <li class="page-item"><a class="page-link text-primary d-inline-block ddd" href="?page={{ page_obj.next_page_number }}">次</a></li>
          {% else %}
              <li class="disabled page-item"><div class="page-link text-secondary d-inline-block disabled ddd" href="#">次</div></li>
          {% endif %}
      </ul>
  </nav>
</div>

