nav{
    text-align: center;
    }
    nav ul{
    margin: 0 ;
    padding: 0 ;
    }
    nav ul li{
    list-style: none;
    display: inline-block;
    width: 18%;
    min-width: 90px;
    }
    nav ul li a{
    text-decoration: none;
    color: #333;
    }
    nav ul li.current a{
    color: #F33135;
    }
    nav ul li a:hover{
    color: #E7DA66;
    }

h1 {
    position: relative;
    padding: 0.25em 1em;
    border-top: solid 2px black;
    border-bottom: solid 2px black;
}

h1:before, h1:after {
    content: '';
    position: absolute;
    top: -7px;
    width: 2px;
    height: -webkit-calc(100% + 14px);
    height: calc(100% + 14px);
    background-color: black;
}

h1:before {
    left: 7px;
}
      
h1:after {
    right: 7px;
}

input{
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

input:focus {
    border:solid 1px #EEA34A;
}

.btn-flat-border { 
    display: inline-block;
    padding: 0.3em 1em;
    text-decoration: none; 
    color: #67c5ff; 
    border: solid 2px #67c5ff; 
    border-radius: 3px; 
    transition: .4s; 
}
    
.btn-flat-border:hover { 
    background: #67c5ff; 
    color: white; 
}
    
    