{% extends "base.html" %}

{% block title %}料金計算 | {{ block.super }}{% endblock %}
{% block description %}料金計算{% endblock %}

{% block content %}
<h1 id="ww">料金計算</h1>
{% load cloudinary %}
<form name="menu">
                <table>
                    {% for m in menu %}
                    {% if restaurant.id == m.restaurant_id %}
                    <tr>
                        <td>
                            <a href="{% url 'washoku:menu' m.id %}">
                                    {% cloudinary m.image.url width=100 height=100 %}
                                {{ m.name }}
                            </a>
                        </td>
                        <td>
                            <span name="price">{{ m.price }}</span>円
                        </td>
                        <td>
                            <input type="number" name="menu2">
                        </td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                    </table>
                </form>

    <p>
        <input type="button" value="合計" onclick="clickbtn()">
    </p>
    
    <p><span id="total"></span></p>
    
    <script>
            function clickbtn(){
                var num = document.menu.menu2
                var total=0;

                for (let i = 0; i < num.length; i++){
                    var price=document.getElementsByName("price");
                    total += Number(price[i].innerHTML)*num[i].value;
                    
                }
                document.getElementById("total").innerHTML=total+"円";
            }
        </script>

{% endblock %}