{% extends "base.html" %}

{% block title %}カテゴリ一覧 | {{ block.super }}{% endblock %}
{% block description %}カテゴリ一覧ページです。{% endblock %}

{% block content %}
<h1 id="ww">カテゴリ一覧</h1>
<ul>
    {% for category in object_list %}
    <li><a href="{% url 'washoku:category_post' category.slug %}">{{ category.name }} ({{ category.num_posts }})</a>
    </li>
    {% empty %}
    <li>カテゴリはありません。</li>
    {% endfor %}
</ul>
{% endblock %}