{% extends "base.html" %}

{% block title %}コース | {{ block.super }}{% endblock %}
{% block description %}コース{% endblock %}

{% block content %}

        <h1>{{ course.name }}</h1>
        {% load cloudinary %}
        <a href="{% url 'washoku:restaurant' course.restaurant_id %}">戻る</a>
        <br>
        <p class="resizeimage">
        {% cloudinary course.image.url width=600 height=400 %}
        </p>
        <table>
            <tr>
                <td>{{ course.name }}</td>
            </tr>
            <tr>
                <td>{{ course.price }}円</td>
            </tr>
            <tr>
                <td>{{ course.number_of_menus }}品</td>
            </tr>
            <tr>
                <td>{{ course.number_of_people }}名</td>
            </tr>
            <tr>
                <td>{{ course.menus }}</td>
            </tr>
        </table>
        <p>
            <a href="{% url 'washoku:course_en' course.id %}">english ver.</a>
        </p>
{% endblock %}