{% extends "base.html" %}

{% block title %}Course | {{ block.super }}{% endblock %}
{% block description %}Course{% endblock %}

{% block content %}

        <h1>{{ course.name_en }}</h1>
        {% load cloudinary %}
        <a href="{% url 'washoku:restaurant_en' course.restaurant_id %}">back</a>
        <br>
        <p class="resizeimage">
        {% cloudinary course.image.url width=600 height=400 %}
        </p>
        <table>
                <tr>
                    <td>{{ course.name_en }}</td>
                </tr>
                <tr>
                    <td>¥{{ course.price }}</td>
                </tr>
                <tr>
                    <td>{{ course.number_of_menus }} dishes</td>
                </tr>
                <tr>
                    <td>
                        {% if course.number_of_people == 1 %}
                        1 parson
                        {% else %}
                        {{ course.number_of_people }} people
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>{{ course.menus_en }}</td>
                </tr>
            </table>
        <p>
            <a href="{% url 'washoku:course' course.id %}">日本語版.</a>
        </p>
{% endblock %}