{% extends "base.html" %}

{% block title %}店舗作成 | {{ block.super }}{% endblock %}
{% block description %}作成用{% endblock %}

{% block content %}
{% load static %}
<h1 id="ww">店舗作成</h1>
    <table>
        <form action="{% url 'washoku:create_restaurant' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_table }}
            <tr><td><a class="zzz"></a><input id="btn" type="submit" value="作成"></a></td></tr>
        </form>        
    </table>
{% endblock %}

<!--<a class="xxx">{{ form.as_table }}</a>
            <a class="zzz"></a><input id="btn" type="submit" value="作成"></a>-->