{% extends "base.html" %}


{% block title %}店舗一覧 | {{ block.super }}{% endblock %}
{% block description %}和食店{% endblock %}

{% block content %}
{% load static %}


<div class="container">
    <div class="row">
        <main class="col-md-8">
            <h1 class="mb-4" id="ww">店舗一覧</h1>
            {% load cloudinary %}
            <!--
    {% include "washoku/snippets/main_post_list.html" %}
    -->
            <table>
            {% for r in object_list %}
        <tr>
            
            <td>
                <a href="{% url 'washoku:restaurant' r.id %}">
                {% cloudinary r.image.url width=100 height=100 %}
                {{ r.name }}
            </a>
            </td>
            <td>
                {% if request.user.id == r.owner_id %}
                <a href="">削除</a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
    
    
            {% include "washoku/snippets/pagination.html" %}
        </main>
        <aside class="col-md-4">
            {% include "washoku/snippets/sidebar.html" %}
        </aside>
    </div>
</div>

{% endblock %}