{% extends "base.html" %}

{% block title %}コース作成 | {{ block.super }}{% endblock %}
{% block description %}コース作成{% endblock %}

{% block content %}
        <h1 id="ww">コース作成</h1>
        <table>
            <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_table }}
                <tr>
                    <td>
                        <a class="zzz"><input id="btn" type="submit" value="作成"></a>
                    </td>
                </tr>
            </form>
        </table>
{% endblock %}