{% extends "base.html" %}

{% block title %}メニュー作成 | {{ block.super }}{% endblock %}
{% block description %}メニュー作成{% endblock %}

{% block content %}
        <h1 id="ww">メニュー作成</h1>
        <table>
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_table }}
            <tr>
                <td>
                    <a class="zzz"><input id="btn" type="submit" value="作成"></a>
                </td>
            </tr>
        </form>
    </table>
{% endblock %}