{% extends "base.html" %}

{% block title %}メニュー英語 | {{ block.super }}{% endblock %}
{% block description %}メニュー英語{% endblock %}

{% block content %}
        <h1 id="ww">{{ menu.name_en }}</h1>
        {% load cloudinary %}
        <a href="{% url 'washoku:restaurant_en' menu.restaurant_id %}">back</a>
        <br>
        <p class="resizeimage">
        {% cloudinary menu.image.url width=600 height=400 %}
        </p>
        <br>
        menu:{{ menu.name_en }}
        (¥{{ menu.price }})
        <br>
        description:{{ menu.description_en }}
        <p>
            <a href="{% url 'washoku:menu' menu.id %}">日本語版</a>
        </p>
{% endblock %}