{% extends "base.html" %}

{% block title %}メニュー | {{ block.super }}{% endblock %}
{% block description %}メニュー{% endblock %}

{% block content %}
        <h1 id="ww">{{ menu.name }}</h1>
        {% load cloudinary %}
        <a href="{% url 'washoku:restaurant' menu.restaurant_id %}">戻る</a>
        <br>
        <p class="resizeimage">
        {% cloudinary menu.image.url width=600 height=400 %}
        </p>
        <br>
        menu:{{ menu.name }}
        ({{ menu.price }}円)
        <br>
        description:{{ menu.description }}
        <p>
            <a href="{% url 'washoku:menu_en' menu.id %}">english ver.</a>
        </p>
{% endblock %}