{% extends "base.html" %}

{% block title %}コメント返信フォーム | {{ block.super }}{% endblock %}
{% block description %}コメント返信フォームのページです。{% endblock %}

{% block content %}
<h1 id="ww">コメント返信</h1>
<div class="container">
    <div class="row">
        <main class="col-md-8">
            <h1 class="mb-4">コメント返信フォーム</h1>
            <p>To: {{ comment.author }}さん</p>
            <p class="text-black-50">{{ comment.text|linebreaksbr }}</p>
            <form method="POST">{% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">送信</button>
            </form>
        </main>
        <aside class="col-md-4">
            {% include "washoku/snippets/sidebar.html" %}
        </aside>
    </div>
</div>
{% endblock %}