{% extends "base.html" %}

{% block title %}予約確認一覧 | {{ block.super }}{% endblock %}
{% block description %}予約確認一覧{% endblock %}

{% block content %}
<h1 id="ww">予約確認</h1>
now:
<span id="view_time"></span>

<table>
    {% for reserve in reservation %}
    {% if restaurant.id == reserve.restaurant_id %}
    <tr>
        <td>
        <textarea cols="30" rows="5" readonly>
名前: {{ reserve.name }}
日時: {{ reserve.datetime|date:"Y/m/j H:i" }}
人数: {{ reserve.number_of_people }}
        </textarea>
    </td>
    </tr>
    
    {% endif %}
    {% endfor %}
</table>


<script type="text/javascript">
document.getElementById("view_time").innerHTML = getNow();

function getNow() {
	var now = new Date();
	var year = now.getFullYear();
	var mon = now.getMonth()+1; //１を足すこと
	var day = now.getDate();
	var hour = now.getHours();
	var min = now.getMinutes();

	//出力用
	var s = year + "/" + mon  + "/" + day + " " + hour + ":" + min ; 
    return s;
}
</script>
{% endblock %}