{% extends "base.html" %}

{% block title %}店舗詳細 | {{ block.super }}{% endblock %}
{% block description %}店舗詳細{% endblock %}

{% block content %}
<h1 id="ww">{{ restaurant.name }}</h1>
{% load cloudinary %}
<a href="{% url 'washoku:restaurant_en' restaurant.id %}">English var.</a>
<button><a class="zzz" href="{% url 'reservation:reserve' restaurant.id %}">予約</a></button>
{% if request.user.id == restaurant.owner_id %}
<a href="{% url 'washoku:reserve_list' restaurant.id %}">予約確認</a>
{% endif %}
<p class="resizeimage">
{% cloudinary restaurant.image.url weight=600 height=400 %}
</p>
<br>
{{ restaurant.address }}
<br>
{{ restaurant.detail }}
<div>
    {% include 'washoku/snippets/menu_course_list.html' %}
</div>
    

{% endblock %}