{% extends "base.html" %}

{% block title %}店舗一覧 | {{ block.super }}{% endblock %}
{% block description %}和食店{% endblock %}

{% block content %}
<h1 id="ww">店舗一覧</h1>
<div class="container">
    <div class="row">
        <main class="col-md-8">
        
            {% load cloudinary %}
    <!--{% include "washoku/snippets/main_post_list.html" %}-->
    <table>
            {% for r in object_list %}
            {% if request.user.id == r.owner_id %}
        <tr>
            
            <td>
                <a href="{% url 'washoku:restaurant' r.id %}">
                    {% cloudinary r.image.url width=300 height=200 %}
                {{ r.name }}
            </a>
            </td>
            <td>
                {% if request.user.id == r.owner_id %}
                <a href="{% url 'washoku:restaurant_delete' r.id %}">削除</a>
                {% endif %}
            </td>
        </tr>
        {% endif %}
        {% endfor %}
    </table>
    
    
            {% include "base/pagination.html" %}
        </main>
    </div>
</div>

{% endblock %}