{% extends "base.html" %}

{% block title %}店舗詳細 | {{ block.super }}{% endblock %}
{% block description %}店舗詳細{% endblock %}

{% block content %}
<h1>{{ restaurant.name }}</h1>
{% load cloudinary %}
<a href="{% url 'washoku:restaurant' restaurant.id %}">日本語版</a>
<button><a href="{% url 'reservation:reserve' restaurant.id %}">reserve</a></button>
{% if request.user.id == restaurant.owner_id %}
<a href="{% url 'washoku:reserve_list' restaurant.id %}">予約確認</a>
{% endif %}
<p class="resizeimage">
    {% cloudinary restaurant.image.url weight=600 height=400 %}
</p>

<br>
{{ restaurant.address }}
<br>
{{ restaurant.detail_en }}
<div class="tab_wrap">
        <input id="tab1" type="radio" name="tab_btn" checked>
        <input id="tab2" type="radio" name="tab_btn">
         
        <div class="tab_area">
            <label class="tab1_label" for="tab1">Menu</label>
            <label class="tab2_label" for="tab2">Course</label>
        </div>
        <div class="panel_area">
            <div id="panel1" class="tab_panel">
                <form name="menu">
                <table>
                    <tr>
                        <button><a href="{% url 'washoku:calc_menu_en' restaurant.id %}">料金計算</a></button>
                    </tr>
                    {% for m in menu %}
                    {% if m.restaurant_id == restaurant.id %}
                    <tr>
                        <td>
                            <a href="{% url 'washoku:menu_en' m.id %}">
                                    {% cloudinary m.image.url width=100 height=100 %}
                                {{ m.name_en }}
                            </a>
                        </td>
                        <td>
                            ¥<span name="price">{{ m.price }}</span>
                        </td>
                        <td>
                            <a href="{% url 'washoku:menu_delete' m.id %}">削除</a>
                        </td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                    </table>
                </form>
            
            {% if request.user.id == restaurant.owner_id %}
            <a href="{% url 'washoku:make_menu' restaurant.id %}">メニュー追加</a>
            {% endif %}
            </div>
            <div id="panel2" class="tab_panel">
                <form name="course">
                    <table>
                        {% for course in courses %}
                        {% if course.restaurant_id == restaurant.id %}
                        <tr>
                            <td>
                                <a href="{% url 'washoku:course_en' course.id %}">
                                    {% cloudinary course.image.url width=100 height=100 %}
                                    {{ course.name_en }}
                                </a>
                            </td>
                            <td>
                                ¥{{ course.price }}
                            </td>
                            <td>
                                {% if request.user.id == restaurant.owner_id %}
                                <a href="{% url 'washoku:course_delete' course.id %}">削除</a>
                                {% endif %}
                            </td>
                        </tr>
                        {% endif %}
                        {% endfor %}
                    </table>
                </form>
                {% if request.user.id == restaurant.owner_id %}
                <a href="{% url 'washoku:make_course' restaurant.id %}">コース追加</a>
                {% endif %}
            </div>
        </div>
    </div>
    
 

{% endblock %}