{% extends "base.html" %}

{% block title %}#{{ tag.name }} | {{ block.super }}{% endblock %}
{% block description %}「{{ tag.name }}」の投稿一覧ページです。{% endblock %}

{% block content %}
<h1 id="ww">タグの投稿</h1>
<div class="container">
    <div class="row">
        <main class="col-md-8">
            <h1 class="mb-4">「#{{ tag.name }}」の投稿一覧</h1>
            {% include "washoku/snippets/main_post_list.html" %}
        </main>
        <aside class="col-md-4">
            {% include "washoku/snippets/sidebar.html" %}
        </aside>
    </div>
</div>
{% endblock %}