{% extends "base.html" %}

{% block title %}タグ一覧 | {{ block.super }}{% endblock %}
{% block description %}タグ一覧ページです。{% endblock %}

{% block content %}
<h1 id="ww">タグ一覧</h1>
<ul>
    {% for tag in object_list %}
    <li><a href="{% url 'washoku:tag_post' tag.slug %}">{{ tag.name }} ({{ tag.num_posts }})</a></li>
    {% empty %}
    <li>タグはありません。</li>
    {% endfor %}
</ul>
{% endblock %}