{% extends "base.html" %}

{% block title %}予約確認 | {{ block.super }}{% endblock %}
{% block description %}予約確認をするためのページです。{% endblock %}

{% block content %}
<h1 id="ww">予約確認</h1>
    名前:
    {{ reservation.name }}
    <br />
    日時:
    {{ reservation.datetime|date:"Y/m/j H:i" }}
    <br />
    人数:
    {{ reservation.number_of_people }}
    <br />
    ユーザーID:
    {{ reservation.user_id }}
    <br>
    店舗ID:
    {{ reservation.restaurant_id }}
    <p>
        <a href="{% url 'washoku:index' %}">top</a>
    </p>

{% endblock %}