{% extends "base.html" %}

{% block title %}予約 | {{ block.super }}{% endblock %}
{% block description %}予約をするためのページです。{% endblock %}

{% block content %}
<h1 id="ww">予約</h1>
    {% if user.is_authenticated %}
    <table>
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_table }}
            <tr>
                <td>
                    <a class="zzz"><input id="btn" type="submit" value="予約"></a>
                </td>
            </tr>
        </form>
    </table>
    {% else %}
    <a href="{% url 'login' %}?next={{request.path}}">ログイン</a>されていません。
    {% endif %}
    <br>
    <a href="{% url 'washoku:index' %}">top</a>
{% endblock %}