{% load cloudinary %}
<div class="tab_wrap">
        <input id="tab1" type="radio" name="tab_btn" checked>
        <input id="tab2" type="radio" name="tab_btn">
         
        <div class="tab_area">
            <label class="tab1_label" for="tab1">Menu</label>
            <label class="tab2_label" for="tab2">Course</label>
        </div>
        <div class="panel_area">
            <div id="panel1" class="tab_panel">
                <form name="menu">
                <table>
                    <tr>
                        <button><a class="zzz" href="{% url 'washoku:calc_menu' restaurant.id %}">料金計算</a></button>
                    </tr>
                    {% for m in menu %}
                    {% if m.restaurant_id == restaurant.id %}
                    <tr>
                        <td>
                            <a href="{% url 'washoku:menu' m.id %}">
                                {% cloudinary m.image.url width=100 height=100 %}
                                {{ m.name }}
                            </a>
                        </td>
                        <td>
                            <span name="price">{{ m.price }}</span>円
                        </td>
                        <td>
                            {% if request.user.id == restaurant.owner_id %}
                            <a href="{% url 'washoku:menu_delete' m.id %}">削除</a>
                            {% endif %}
                        </td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                    </table>
                </form>
            {% if request.user.id == restaurant.owner_id %}
            <a href="{% url 'washoku:make_menu' restaurant.id %}">メニュー追加</a>
            {% endif %}
            </div>
            <div id="panel2" class="tab_panel">
                <form name="course">
                    <table>
                        {% for course in courses %}
                        {% if course.restaurant_id == restaurant.id %}
                        <tr>
                            <td>
                                <a href="{% url 'washoku:course' course.id %}">
                                    {% cloudinary course.image.url width=100 height=100 %}
                                    {{ course.name }}
                                </a>
                            </td>
                            <td>
                                {{ course.price }}円
                            </td>
                            <td>
                                {% if request.user.id == restaurant.owner_id %}
                                <a href="{% url 'washoku:course_delete' course.id %}">削除</a>
                                {% endif %}
                            </td>
                        </tr>
                        {% endif %}
                        {% endfor %}
                    </table>
                </form>
                {% if request.user.id == restaurant.owner_id %}
                <a href="{% url 'washoku:make_course' restaurant.id %}">コース追加</a>
                {% endif %}
            </div>
        </div>
    </div>