{% if is_paginated %}
<nav aria-label="Page navigation" class="aaa">
    <ul class="pagination">
        {% if page_obj.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}{% if query %}&q={{ query }}{% endif %}"
                aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
            </a>
        </li>
        {% endif %}

        {% for num in paginator.page_range %}
        {% if page_obj.number == num %}
        <li class="page-item active">
            <div class="page-link disabled">
                {{ num }}
                <span class="sr-only"></span>
            </div>
        </li>
        {% else %}
        <li class="page-item">
            <a class="page-link ddd" href="?page={{ num }}{% if query %}&q={{ query }}{% endif %}">{{ num }}</a>
        </li>
        {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
        <li class="page-item">
            <a class="page-link ddd" href="?page={{ page_obj.next_page_number }}{% if query %}&q={{ query }}{% endif %}"
                aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
            </a>
        </li>
        {% endif %}
    </ul>
</nav>
{% endif %}